@import "@catppuccin/palette/css/catppuccin.css";
@import "modern-normalize";

@import "./layout.css";

:root {
  --font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-family: var(--font-family);
  --tp-base-font-family: var(--font-family);

  color-scheme: light dark;

  /** Responsive catppuccin */
  --ctp-rosewater: var(--ctp-latte-rosewater);
  --ctp-flamingo: var(--ctp-latte-flamingo);
  --ctp-pink: var(--ctp-latte-pink);
  --ctp-mauve: var(--ctp-latte-mauve);
  --ctp-red: var(--ctp-latte-red);
  --ctp-maroon: var(--ctp-latte-maroon);
  --ctp-peach: var(--ctp-latte-peach);
  --ctp-yellow: var(--ctp-latte-yellow);
  --ctp-green: var(--ctp-latte-green);
  --ctp-teal: var(--ctp-latte-teal);
  --ctp-sky: var(--ctp-latte-sky);
  --ctp-sapphire: var(--ctp-latte-sapphire);
  --ctp-blue: var(--ctp-latte-blue);
  --ctp-lavender: var(--ctp-latte-lavender);
  --ctp-text: var(--ctp-latte-text);
  --ctp-subtext1: var(--ctp-latte-subtext1);
  --ctp-subtext0: var(--ctp-latte-subtext0);
  --ctp-overlay2: var(--ctp-latte-overlay2);
  --ctp-overlay1: var(--ctp-latte-overlay1);
  --ctp-overlay0: var(--ctp-latte-overlay0);
  --ctp-surface2: var(--ctp-latte-surface2);
  --ctp-surface1: var(--ctp-latte-surface1);
  --ctp-surface0: var(--ctp-latte-surface0);
  --ctp-base: var(--ctp-latte-base);
  --ctp-mantle: var(--ctp-latte-mantle);
  --ctp-crust: var(--ctp-latte-crust);

  background: var(--ctp-base);
  color: var(--ctp-text);

  /** Tweakpane theme */
  --tp-base-background-color: var(--ctp-surface0);
  --tp-button-background-color: var(--ctp-mantle);
  --tp-button-background-color-active: var(--ctp-crust);
  --tp-button-background-color-focus: var(--ctp-crust);
  --tp-button-background-color-hover: var(--ctp-crust);
  --tp-button-foreground-color: var(--ctp-text);
  --tp-container-background-color: var(--ctp-mantle);
  --tp-container-background-color-active: var(--ctp-base);
  --tp-container-background-color-focus: var(--ctp-base);
  --tp-container-background-color-hover: var(--ctp-base);
  --tp-container-foreground-color: var(--ctp-text);
  --tp-groove-foreground-color: var(--ctp-mantle);
  --tp-input-background-color: var(--ctp-crust);
  --tp-input-background-color-active: var(--ctp-base);
  --tp-input-background-color-focus: var(--ctp-base);
  --tp-input-background-color-hover: var(--ctp-base);
  --tp-input-foreground-color: var(--ctp-text);
  --tp-label-foreground-color: var(--ctp-text);
  --tp-monitor-background-color: var(--ctp-crust);
  --tp-monitor-foreground-color: var(--ctp-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    /** Use mocha catppuccin variant in dark mode */

    --ctp-rosewater: var(--ctp-mocha-rosewater);
    --ctp-flamingo: var(--ctp-mocha-flamingo);
    --ctp-pink: var(--ctp-mocha-pink);
    --ctp-mauve: var(--ctp-mocha-mauve);
    --ctp-red: var(--ctp-mocha-red);
    --ctp-maroon: var(--ctp-mocha-maroon);
    --ctp-peach: var(--ctp-mocha-peach);
    --ctp-yellow: var(--ctp-mocha-yellow);
    --ctp-green: var(--ctp-mocha-green);
    --ctp-teal: var(--ctp-mocha-teal);
    --ctp-sky: var(--ctp-mocha-sky);
    --ctp-sapphire: var(--ctp-mocha-sapphire);
    --ctp-blue: var(--ctp-mocha-blue);
    --ctp-lavender: var(--ctp-mocha-lavender);
    --ctp-text: var(--ctp-mocha-text);
    --ctp-subtext1: var(--ctp-mocha-subtext1);
    --ctp-subtext0: var(--ctp-mocha-subtext0);
    --ctp-overlay2: var(--ctp-mocha-overlay2);
    --ctp-overlay1: var(--ctp-mocha-overlay1);
    --ctp-overlay0: var(--ctp-mocha-overlay0);
    --ctp-surface2: var(--ctp-mocha-surface2);
    --ctp-surface1: var(--ctp-mocha-surface1);
    --ctp-surface0: var(--ctp-mocha-surface0);
    --ctp-base: var(--ctp-mocha-base);
    --ctp-mantle: var(--ctp-mocha-mantle);
    --ctp-crust: var(--ctp-mocha-crust);
  }
}
